.postInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: rem(12px);
  color: $brown400;
  margin-top: rem(6px);
  margin-bottom: 0;

  > * + * {
    margin-left: rem(10px);
  }
}

.date {
  margin: 0;
}

.editLink {
  &,
  &:hover,
  &:focus,
  &:active {
    color: $brown400;
  }
}

.articleNav {
  margin-top: $space8;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include media('>xs') {
    justify-content: space-between;
    flex-direction: row;
  }

  li {
    padding-top: $space2;
    padding-bottom: $space2;

    @include media('>xs') {
      &:first-child {
        padding-right: $space2;
      }
      &:last-child {
        padding-left: $space2;
      }
    }
  }
}

.prevNextLabel {
  font-weight: 700;
  font-size: rem(12px);
  text-transform: uppercase;
}
