@import './vars/global';

.screenReaderOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.contentWrapper {
  background-color: rgba($tan-10, 0.75);
  border-radius: rem(3px);
  padding: rem(15px) rem(10px);
  max-width: 50ch;
}

.pageWrapper {
  margin: 0 rem(10px);
  @include media('>xs') {
    margin: 0 rem(20px);
  }
}

.center {
  @include media('>xs') {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

.centerRows {
  @include media('>xs') {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

.readingWidth {
  @include media('>xs') {
    max-width: 40ch;
  }
}

.actualLink {
  &,
  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }

  &:hover,
  &:focus,
  &:active {
    .fauxLink {
      text-decoration: underline;
    }
  }
}

.circle {
  border-radius: 50%;
}

.fontSize125 {
  font-size: 1.25rem;
}

.font-size075 {
  font-size: 0.75rem;
}

.fontWeightNormal {
  font-weight: normal;
}

.fontWeightBold {
  font-weight: bold;
}

// Animation
.fadeIn {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.fadeInIsActive {
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

.fadeOut {
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

.fadeOutIsActive {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

@keyframes fadeIn {
  from: {
    opacity: 0;
  }
  to: {
    opacity: 1;
  }
}

@keyframes fade-out {
  from: {
    opacity: 1;
  }
  to: {
    opacity: 0;
  }
}

// Adapated from Nicole Sullivan's OOCSS Spacing
// p,m = padding,margin
// a,t,r,b,l,h,v = all,top,right,bottom,left,horizontal,vertical
@mixin spacingUtilities() {
  .ptn,
  .pvn,
  .pan {
    padding-top: 0 !important;
  }
  .ptxs,
  .pvxs,
  .paxs {
    padding-top: $spaceXS !important;
  }
  .pts,
  .pvs,
  .pas {
    padding-top: $spaceS !important;
  }
  .ptm,
  .pvm,
  .pam {
    padding-top: $spaceM !important;
  }
  .ptl,
  .pvl,
  .pal {
    padding-top: $spaceL !important;
  }
  .ptxl,
  .pvxl,
  .paxl {
    padding-top: $spaceXL !important;
  }
  .prn,
  .phn,
  .pan {
    padding-right: 0 !important;
  }
  .prxs,
  .phxs,
  .paxs {
    padding-right: $spaceXS !important;
  }
  .prs,
  .phs,
  .pas {
    padding-right: $spaceS !important;
  }
  .prm,
  .phm,
  .pam {
    padding-right: $spaceM !important;
  }
  .prl,
  .phl,
  .pal {
    padding-right: $spaceL !important;
  }
  .prxl,
  .phxl,
  .paxl {
    padding-right: $spaceXL !important;
  }
  .pbn,
  .pvn,
  .pan {
    padding-bottom: 0 !important;
  }
  .pbxs,
  .pvxs,
  .paxs {
    padding-bottom: $spaceXS !important;
  }
  .pbs,
  .pvs,
  .pas {
    padding-bottom: $spaceS !important;
  }
  .pbm,
  .pvm,
  .pam {
    padding-bottom: $spaceM !important;
  }
  .pbl,
  .pvl,
  .pal {
    padding-bottom: $spaceL !important;
  }
  .pbxl,
  .pvxl,
  .paxl {
    padding-bottom: $spaceXL !important;
  }
  .pln,
  .phn,
  .pan {
    padding-left: 0 !important;
  }
  .plxs,
  .phxs,
  .paxs {
    padding-left: $spaceXS !important;
  }
  .pls,
  .phs,
  .pas {
    padding-left: $spaceS !important;
  }
  .plm,
  .phm,
  .pam {
    padding-left: $spaceM !important;
  }
  .pll,
  .phl,
  .pal {
    padding-left: $spaceL !important;
  }
  .plxl,
  .phxl,
  .paxl {
    padding-left: $spaceXL !important;
  }
  .mtn,
  .mvn,
  .man {
    margin-top: 0 !important;
  }
  .mtxs,
  .mvxs,
  .maxs {
    margin-top: $spaceXS !important;
  }
  .mts,
  .mvs,
  .mas {
    margin-top: $spaceS !important;
  }
  .mtm,
  .mvm,
  .mam {
    margin-top: $spaceM !important;
  }
  .mtl,
  .mvl,
  .mal {
    margin-top: $spaceL !important;
  }
  .mtxl,
  .mvxl,
  .maxl {
    margin-top: $spaceXL !important;
  }
  .mrn,
  .mhn,
  .man {
    margin-right: 0 !important;
  }
  .mrxs,
  .mhxs,
  .maxs {
    margin-right: $spaceXS !important;
  }
  .mrs,
  .mhs,
  .mas {
    margin-right: $spaceS !important;
  }
  .mrm,
  .mhm,
  .mam {
    margin-right: $spaceM !important;
  }
  .mrl,
  .mhl,
  .mal {
    margin-right: $spaceL !important;
  }
  .mrxl,
  .mhxl,
  .maxl {
    margin-right: $spaceXL !important;
  }
  .mbn,
  .mvn,
  .man {
    margin-bottom: 0 !important;
  }
  .mbxs,
  .mvxs,
  .maxs {
    margin-bottom: $spaceXS !important;
  }
  .mbs,
  .mvs,
  .mas {
    margin-bottom: $spaceS !important;
  }
  .mbm,
  .mvm,
  .mam {
    margin-bottom: $spaceM !important;
  }
  .mbl,
  .mvl,
  .mal {
    margin-bottom: $spaceL !important;
  }
  .mbxl,
  .mvxl,
  .maxl {
    margin-bottom: $spaceXL !important;
  }
  .mln,
  .mhn,
  .man {
    margin-left: 0 !important;
  }
  .mlxs,
  .mhxs,
  .maxs {
    margin-left: $spaceXS !important;
  }
  .mls,
  .mhs,
  .mas {
    margin-left: $spaceS !important;
  }
  .mlm,
  .mhm,
  .mam {
    margin-left: $spaceM !important;
  }
  .mll,
  .mhl,
  .mal {
    margin-left: $spaceL !important;
  }
  .mlxl,
  .mhxl,
  .maxl {
    margin-left: $spaceXL !important;
  }
}

@include spacingUtilities();
