$red: #7f0000;

$teal-100: #80f5db;
$teal-200: #5ac7ae;
$teal-300: #2ea68b;

$dk-green-100: #112b2b;
$dk-green-200: #3e5151;
$dk-green-300: #5b716e;

$tan-100: #decba4;
$tan-10: #efece1;

$black: #312821;
$white: $tan-10;

$gray-1: tint($black, 30%);
$gray-2: tint($black, 50%);
