.label {
  display: block;
  font-weight: bold;
  cursor: pointer;
}

.emailSuggestion {
  display: inline-block;
  padding-left: $space2;
  line-height: 1;
}

.suggestionButton {
  all: unset;
  cursor: pointer;
  font-weight: 300;
  font-size: 0.8em;
  color: $gold600;
}

.input {
  display: block;
  width: 100%;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.25;
  color: $text-color;
  background-color: $white;
  background-image: none;
  background-clip: padding-box;
  border: 2px solid rgba($brown-1000, 0.5);
  border-radius: 0.25rem;
  transition: all ease-in-out 0.2s;

  &:focus {
    outline: 0;
    border-color: $gold400;
    box-shadow: 1px 3px 5px rgba($brown-1000, 0.5);
    transform: translate(0, #{rem(-1px)});
  }
}

.error {
  color: $red700;
}

.sendButton {
  display: flex;
  margin: auto;
}

.phoneCTA {
  text-align: center;
  margin-top: $space8;
}

.footerPhoneLink {
  &,
  &:hover,
  &:focus,
  &:active {
    span:before {
      left: -1.25% !important;
      right: auto !important;
      width: auto !important;
    }
  }
}
