@import '../../../global-styles/vars/global';

.item {
  margin-bottom: 5rem;
  @include media('<800px') {
    flex-direction: column;
  }
}

.body {
  @include media('<800px') {
    margin-top: $spaceM;
    order: 1;
  }
}

.img {
  width: 100%;
  max-width: rem(700px);
  min-width: rem(300px);
  @include media('<800px') {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}
