.articlesWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(#{rem(100px)}, #{rem(400px)}));
  grid-gap: rem(20px);
  justify-content: center;

  @include media('>645px') {
    grid-template-columns: repeat(auto-fit, minmax(#{rem(300px)}, 1fr));
    margin: 0;
  }
}
